<!DOCTYPE html>
<html>
<head>
	<title>College Place</title>
	<link rel="stylesheet" href="style.css">
	<script src="java.js"></script>
</head>
<body>
	<header>
		<h1>Welcome to College Place</h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="predict.html">Get Started</a></li>
				
			</ul>
		</nav>
	</header>
<section class="body">
	<main>
		<p><center><h1>Identifying Patterns and Trends Campus Placement using Mechine Learning</h1></center></p>
	</main>
</section>
	<footer>
		<p>&copy; 2023 College Place</p>
	</footer>
</body>
</html>
